**Name : Surabhi Ganesh Sawaleshwarkar                       
Roll No. : 9130**

Q.1. Write a Python User Define Function to reverse a string.

In [1]:
#Solution:
def reverse(a):
  str=""
  for i in a:
    str=i+str
  return str

In [2]:
reverse("python")

'nohtyp'

Q.2. Write a Python min_max function which will return Min, Max of 4 inputs from the user.

In [3]:
#Solution:
def min_max(a,b,c,d):
  print("The minimum of the numbers is:",end="")
  print(min(a,b,c,d))
  print("The maximum of the numbers is:",end="")
  print(max(a,b,c,d))

In [4]:
min_max(16,4,20,12)

The minimum of the numbers is:4
The maximum of the numbers is:20

In [5]:
min_max(13,12,19,89)

The minimum of the numbers is:12
The maximum of the numbers is:89

Q.3. Write a Python function to sum 4 inputs from the user.

In [6]:
#Solution:
def sum(a,b,c,d):
  print(a+b+c+d)

In [7]:
sum(1,2,3,4)

10

In [8]:
sum(10,12,14,16)

52

Q.4. Find out the Command which will return you number of local variables from the user define function.

In [9]:
#Solution:
def xyz():
  a=16
  b="Surabhi"

In [10]:
print(xyz.__code__.co_nlocals)

2

Q.5. Write Python Function to get even number from the list. List length must be equal to 8.

In [11]:
#Solution:
list=[1,2,3,4,5,6,7,8]
for i in list:
  if i % 2 == 0:
    print(i)

2
4
6
8