In [ ]:
Name="Surabhi Sawaleshwarkar"
Roll_No="9130"

In [ ]:
#if statement
a=33
b=20
if b<a:
  print("b is not greater than a")

b is not greater than a

In [ ]:
if a>b:
  print("a is greater than b")

a is greater than b

In [ ]:
a=10000
b=10000
if a>=b:
  print("a is greater than or equal to b")

a is greater than or equal to b

In [ ]:
a=16
b=12
if a>b:
  print("Surabhi")
print("Juno")

Surabhi
Juno

In [ ]:
#if...else statement
a=16
b=6
if a>b:
  print("Surabhi")
else:
  print("Juno")

Surabhi

In [ ]:
a=6
b=16
if a>b:
  print("Surabhi")
else:
  print("Juno")

Juno

In [ ]:
num=-16
if num>0:
  print("Positive Number")
else:
  print("Negative Number")

Negative Number

In [ ]:
num=16
if num>0:
  print("Positive Number")
else:
  print("Negative Number")

Positive Number

In [ ]:
num=-1
if num>0:
 print("Positive Number")
elif num==0:
 print("ZERO")
else:
 print("Negative Number")

Negative Number

In [ ]:
num=0
if num>0:
 print("Positive Number")
elif num==0:
 print("ZERO")
else:
 print("Negative Number")

ZERO

In [ ]:
num=16
if num>0:
 print("Positive Number")
elif num==0:
 print("ZERO")
else:
 print("Negative Number")

Positive Number

In [ ]:
Marks=[90,80,70]
for i in Marks:
 if i==90:
  print(i,"Science")
 elif i==80:
  print(i,"Commerce")
 else:
  print(i,"Arts")

90 Science
80 Commerce
70 Arts

In [ ]:
Marks=input()
if Marks>=90:
 print("Science")
elif Marks<=70:
 print("Arts")
else:
print("")

IndentationError: ignored

In [ ]:
#Nested if...else
num=1
if num>=0:
 if num==0:
  print("Zero")
 else:
  print("Positive Number")
else:
 print("Negative Number")

Positive Number

In [ ]:
num=0
if num>=0:
 if num==0:
  print("Zero")
 else:
  print("Positive Number")
else:
 print("Negative Number")

Zero

In [ ]:
num=-16
if num>=0:
 if num==0:
  print("Zero")
 else:
  print("Positive Number")
else:
 print("Negative Number")

Negative Number

In [ ]:
# Know the Divisional HQ of Districts of various all regions of Maharashtra
# Maharashtra State is Mainly Divided in the 5 regions Geographically.
#Maharashtra = ("Kokan, west_Maharashtra, North_Maharashtra, Marathwada, Vidarbh")
city =input()
West_Maharashtra = ("Kolhapur", "Pune", "Sangli", "Satara", "Solapur")
North_Maharashtra = ("Dhule", "Jalgaon","Nandurbar", "Nashik","Ahmednagar")
Marathwada = ("Aurangabad", "Beed", "Jalna", "Osmanabad", "Nanded","Latur", "Parbhani","Hingoli")
Vidarbh = ("Bhandara", "Chandrapur", "Gadchiroli", "Gondia", "Nagpur", "Wardha","Akola", "Amravati", "Buldana", "Yavatmal", "Washim")
Amravati = ("Akola", "Amravati", "Buldana", "Yavatmal", "Washim")
Kokan = ("Mumbai City", "Mumbai Suburban", "Thane", "Palghar", "Raigad", "Ratnagiri" ,"Sindhudurg")
if city in Kokan:
  print("Division HQ is Located in Mumbai")
  elif city in West_Maharashtra:
    print("Division HQ is Located in Pune")
     elif city in North_Maharashtra:
     print("Division HQ is Located Nasik")
      elif city in Marathwada:
       print("Division HQ is Located in Aurangabad")
       elif city in Vidarbh:
          print("Division HQ is Located in Nagpur")
          elif city in Amravati:
           print("Division HQ is Located in Amravati") 
else:
  print("City is not in Maharashtra")

SyntaxError: ignored

In [ ]:
city in Kokan:
    print("Division HQ is Located in Mumbai")
city in West_Maharashtra:
    print("Division HQ is Located in Pune")
city in North_Maharashtra:
    print("Division HQ is Located Nasik")
city in Marathwada:
    print("Division HQ is Located in Aurangabad")
if city in Vidarbh:
    if city in Amravati:
        print("Division HQ is Located in Amravati")
    else:
        print("Division HQ is Located in Nagpur")    
#City not is Maharashtra 
    print("City is out of Maharashtra")