In [ ]:
Name="Surabhi Sawaleshwarkar"
Roll.No.="9130"

In [ ]:
a="Shivani"
b="Surabhi"
c=["Yash","Himanshu"]
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

Shivani
Surabhi
['Yash', 'Himanshu']
<class 'str'>
<class 'str'>
<class 'list'>

In [ ]:
s=['a','b','c','d','e','f']
print(s[:3])
print(s[2:])

['a', 'b', 'c']
['c', 'd', 'e', 'f']

In [ ]:
#Change item in list
print(s)
s['d']='j'
print(s)

['a', 'b', 'c', 'd', 'e', 'f']

TypeError: ignored

In [ ]:
#copy(): Returns copy of list
names=['Surabhi','Shivani','Himanshu','Yash']
names1=names.copy()
print(names1)

['Surabhi', 'Shivani', 'Himanshu', 'Yash']

In [ ]:
#count(): Returns the number of elements with thr specified value
names.append('Surabhi')
x=names.count('Surabhi')
print(x)

2

In [ ]:
#Looping through lists
for j in s:
  print(j)

a
b
c
d
e
f

In [ ]:
#del: Delete list
print(names1)
del names1
print(names1)

['Surabhi', 'Shivani', 'Himanshu', 'Yash']

NameError: ignored

In [ ]:
#extend(): Add elements of a list (or any iterable)
#to the end of current list
names=['Surabhi','Shivani','Himanshu','Yash']
cars=['Range Rover','Ford','BMW','Suzuki']
names.extend(cars)
print(names)

['Surabhi', 'Shivani', 'Himanshu', 'Yash', 'Range Rover', 'Ford', 'BMW', 'Suzuki']

In [ ]:
#index(): Returns the index of the first element with the specified value
names.index('Range Rover')

4

In [ ]:
#sort(): Sorts the list
names.sort()
print(names)

['BMW', 'Ford', 'Himanshu', 'Range Rover', 'Shivani', 'Surabhi', 'Suzuki', 'Yash']

In [ ]:
#Tuples
t1=(1,5,8,3,10,2)
t2=('Surabhi','Shivani','Himanshu','Yash')
print(t1,"/n")
print(t2)
print(type(t1))

(1, 5, 8, 3, 10, 2) /n
('Surabhi', 'Shivani', 'Himanshu', 'Yash')
<class 'tuple'>

In [ ]:
#Negative Index
print(t1[-2])
print(t2[-4])

10
Surabhi

In [1]:
#Dictionary
d1={"Name":"Surabhi","Class":'TYBSc','Roll No.':9130,"Result":"Pass"}
print(d1)

{'Name': 'Surabhi', 'Class': 'TYBSc', 'Roll No.': 9130, 'Result': 'Pass'}

In [2]:
#Accessing items
print(d1["Class"])
print(d1["Name"])

TYBSc
Surabhi

In [3]:
#Change values
d1["Name"]="Shivani"
print(d1)

{'Name': 'Shivani', 'Class': 'TYBSc', 'Roll No.': 9130, 'Result': 'Pass'}

In [4]:
#Looping through a dictionary
for j in d1:
  print(j)

Name
Class
Roll No.
Result

In [5]:
#Extract keys
d1.keys()

dict_keys(['Name', 'Class', 'Roll No.', 'Result'])

In [6]:
#Extract values
d1.values()

dict_values(['Shivani', 'TYBSc', 9130, 'Pass'])

In [7]:
#Extract keys and values both
d1.items()

dict_items([('Name', 'Shivani'), ('Class', 'TYBSc'), ('Roll No.', 9130), ('Result', 'Pass')])

In [8]:
for k,v in d1.items():
  print(k,v)

Name Shivani
Class TYBSc
Roll No. 9130
Result Pass

In [9]:
#Nested dictionary
myfamily = {
    "child1" : {
       "name":"A",
       "year":"1999"
    },
    "child2" : {
       "name":"B",
       "year":"2001"
    },
    "child3" : {
       "name":"C",
       "year":"2003"
    }
}
print(myfamily)

{'child1': {'name': 'A', 'year': '1999'}, 'child2': {'name': 'B', 'year': '2001'}, 'child3': {'name': 'C', 'year': '2003'}}

In [11]:
#Sets
set1={1,2,3,4,5,6,7,8}
print(set1)
set2={"A","B","C","D","E","F","G","H"}
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8}
{'G', 'A', 'B', 'F', 'C', 'E', 'H', 'D'}